
/*
//light pink thing #b3b3ff
//wordpress blue #006a94
//wordpress light blue #ccebf1
//light grey #f6f6f6
//black #27131c
//grey blue #46545f
*/

body {
  /**/
  background-color: #006a94;
  padding: 0;
  margin: 0;
}

.panel {
  /*#e6e6e6*/
  background-color:#f6f6f6;
}

.customBgColor {
  background-color: #b3b3ff;

}

.customBgColor2 {
  background-color: #46545f;
  color: white
}

.mynavbar {
  margin-bottom: 10px;
}

.nav li a {
  color:white;
}

.nav li a:hover {
  color:black;
  background-color: $f6f6f6;
}

.whiteText {
  color: white;
}

/* -------------------------- Portfolio --------------------------*/


.portfolio-item-container {
  margin-bottom: 8px;
  border-bottom: 1px solid black;
  padding: 2px;
  background-color: #fff;

  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 100px;
  grid-gap: 5px;

  grid-template-areas:
    "i i i d d d d d d l l l"
    "i i i d d d d d d l l l"
    "i i i t t t t t t l l l";
    /*"i i i d d d d d d l l l";*/
}

.portfolio-item-img {
  grid-area: i;
}
.portfolio-item-img > img {
  width: 100%;
  height: auto;
}

.portfolio-item-details {
  grid-area: d;
}

.portfolio-item-info {
  grid-area: l;
}
.portfolio-item-info > a {
  display: block;
}

.portfolio-item-tech-item {
  border: 1px solid black;
  border-radius: 5px;
  padding: 3px;
}

.info-complete {
  color: green;
}
.info-progress {
  color: orange;
}

.portfolio-item-info {
  margin-bottom: 10px;

  padding: 5px;
  text-align: center;
  width: 100%;
}

.portfolio-item-tech {
  grid-area: t;
  /*border-top: 1px solid black;*/
  padding: 10px;
}

.button {
  padding: 8px;
  margin: 4px;
  font-weight: 600;
  text-align: center;
}
.button:hover {
  /*background-color: #ccebf1;*/
  /*color:white;*/
  /*border: 1px solid black;*/
}

.button > span {
  display: inline-flex;
}
.icon {
  font-size: 1.5em;
  margin-right: 2px;
}


.quickportfolio-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 5px;
}
.quickportfolio-item {
  padding: 5px;
  background-color: #fff;
  border: 4px solid #46545f;
  border-radius: 3px;
}

.quickportfolio-item > img {
  display: block;
  max-width: 100%;
  /*height: auto;*/
  border: 2px solid #27131c;
  border-radius: 5px;
}

.quickportfolio-item-links {
  display: flex;
  background-color: #000;
}
.quickportfolio-item-links > a {
  flex: 1;
  background-color: #fff;
  margin: 0;
}


/* -------------------------- Footer --------------------------*/



footer {
  padding: 30px;
  padding-bottom: 60px;
}

.bottomSpace {
  margin-bottom: 15px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 992px) {

}

/* Tooltip container */
.mytooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.mytooltip .mytooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;
    margin-bottom: 5px;
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.mytooltip:hover .mytooltiptext {
    visibility: visible;
}

.mytooltip .mytooltiptext::after {
    content: " ";
    position: absolute;
    top: 100%; /* At the bottom of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}
