
/*
//light pink thing #b3b3ff
//wordpress blue #006a94
//wordpress light blue #ccebf1
//light grey #f6f6f6
//black #27131c
//grey blue #46545f
*/

body {
  /**/
  background-color: #006a94;
  padding: 0;
  margin: 0;
}

.panel {
  /*#e6e6e6*/
  background-color:#f6f6f6;
}

.customBgColor {
  background-color: #b3b3ff;

}

.customBgColor2 {
  background-color: #46545f;
  color: white
}

.mynavbar {
  margin-bottom: 10px;
}

.nav li a {
  color:white;
}

.nav li a:hover {
  color:black;
  background-color: $f6f6f6;
}

.whiteText {
  color: white;
}

footer {
  padding: 30px;
  padding-bottom: 60px;
}

.bottomSpace {
  margin-bottom: 15px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.halfSpace {
  width: 49%;
  float:left;
}

.halfSpace .thumbnail {
  margin-bottom: 0px;
}

.halfSpace .thumbnail a img {
  max-width: 100%;
  height: auto;
}

/* Tooltip container */
.mytooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.mytooltip .mytooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;
    margin-bottom: 5px;
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.mytooltip:hover .mytooltiptext {
    visibility: visible;
}

.mytooltip .mytooltiptext::after {
    content: " ";
    position: absolute;
    top: 100%; /* At the bottom of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}
